.terraform.*
.terraform
*.tfstate
errored.tfstate
terraform.tfstate.backup

__pycache__
.pytest_cache

*.key
*.pem

.vscode

# DOTO fix static bin
ansible/roles/cloud-controller-manager/files/cloud-controller-manager
