$ORIGIN {{domain}}.
@	3600 IN	SOA a.{{domain}}. b.{{domain}}. (
				2017042745 ; serial
				7200       ; refresh (2 hours)
				3600       ; retry (1 hour)
				1209600    ; expire (2 weeks)
				3600       ; minimum (1 hour)
				)

	3600 IN NS a.{{domain}}.
	3600 IN NS b.{{domain}}.

{% for host,v in groups.items() if host not in ['all','ungrouped'] %}
{% for item in v %}
{{hostvars[item]['hostname']}}     IN A     {{item}}
{% endfor %}
{% endfor %}
